body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
}
.colorBtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #FFFFFF;
    border-radius: 7px;
    color: #FEFEFE;
    background-color: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}
.colorBtn:hover{
    background-color: #000000;
}